// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: skyblue;
}

.main {
  color: #fff;
  font-family: Palatino;
}

.main h1 {
  font-size: 80px;
  text-align: center;
}

.main p {
  font-size: 40px;
  text-align: center;
}
